
/* HEADER */
* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.contain {
  background-color: #4e9ff7;
}

.header {
  width: 100%;
  height: 110px;
  background-image: url("./img/pattern.png");
  background-size: 430px;
}

.logo {
  height: 50px;
  margin: 45px 150px;
}

/* MAIN */
.container {
  width: 79%;
  margin: 10px auto;
}

.title {
  font-size: 32px;
  margin-top: 20px;
}

.text1 {
  color: #808080;
}

#text2 {
  color: #49b8e9;
}

.text3 {
  color: #808080;
  font-size:12px;
  font-style: italic;
}

.margin {
  margin-top: 20px;
}

.yellow {
  background-color: yellow;
}

.table {
  background-color: #40a9e5;
  color: white;
}

.margin1 {
  margin-top: 20px;
  border-collapse: collapse;
}

.cell {
  width: 33%;
}

.table2 {
  background-color: #b1e5f2;